body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: auto; /* Add horizontal scrolling */
}

.container {
  min-width: max-content; /* Make the container at least as wide as its content */
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%; /* Make the header span the full width of the container */
}

h1 {
  margin: 0;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  table,
  th,
  td {
    font-size: 14px;
  }

  th,
  td {
    padding: 10px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 24px;
  margin-right: 10px; /* Add space between switches */
  z-index: 10; /* Add a high z-index value */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Parent container */
.toggle-fields {
  display: flex;
  justify-content: space-between;
  max-width: 300px; /* Adjust this value to make the row narrower */
  margin: 0 auto; /* Center the container */
}

/* Switch container */
.switch-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
